[submodule "revive"]
	path = revive
	url = https://github.com/heytribe/corona-revive
[submodule "summary"]
	path = summary
	url = https://github.com/heytribe/corona-summary
[submodule "sounds"]
	path = sounds
	url = https://github.com/heytribe/corona-sounds.git
[submodule "localengine"]
	path = localengine
	url = https://github.com/heytribe/corona-local-engine.git
